.authUserArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userAvatar {
  border-radius: 15px;
}

.authUserInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.userName {
  font-size: 15px;
  font-weight: bold;
}

.userEmail {
  font-size: 11px;
}

.popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popup .popuptext {
  visibility: hidden;
  width: 100%;
  background-color: #fafafa;
  color: #111;
  border: solid 1px #dddddd;
  text-align: center;
  border-radius: 12px 0px 12px 12px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 130%;
  right: 0%;
  opacity: 0;
  transform: translateY(-20%);
  transition: all .2s ease-out;
}

.popup .show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

.popupButton {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popupButton:hover {
  background-color: #eaeaea;
}

.popupButtonLabel {
  margin-left: 10px;
  font-size: 14px;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}