.container {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.clustering-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #e9e9e9; */
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px lightgrey;
}

.selected-repo-info {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.repo-type-badge {
  background-color: #2590DA;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px;
  font-size: 12px;
  width: fit-content;
}

.repo-name {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 10px;
}

.algorithm-hint {
  padding-top: 20px;
  font-size: 16px;
  padding-bottom: 5px;
}

.algorithm-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

.change-algorithm-button {
  transition: box-shadow .3s;
  background-color: #dddddd;
  padding: 4px 10px;
  margin-top: 10px;
  border-radius: 4px;
  width: fit-content;
}

.change-algorithm-button:hover {
  box-shadow: 0 0 6px rgba(33,33,33,.2); 
  background-color: #cccccc;
  cursor: pointer;
}

.button-label {
  padding-left: 8px;
}

.section-title {
  font-size: 26px;
  font-weight: bold;
  padding-top: 28px;
  padding-bottom: 10px;
}

.request-details {
  border: 1px solid #969696;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 14px;
}

.request-method {
  padding: 4px;
  margin-right: 16px;
  background-color: #CCCCCC;
  border-radius: 5px;
}

.request-url {
  color: #222222;
}

.body-title {
  font-size: 18px;
  color: #111111;
  font-weight: bold;
  padding-bottom: 10px;
}

.response-body-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #999999;
  padding: 10px;
  border-radius: 10px;
}