.container {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.clustering-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #e9e9e9; */
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  /* box-shadow: 0px 0px 5px 2px lightgrey; */
}

.selected-repo-info {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  width: 100%;
}

.repoInfoTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: ce;
}

.repo-type-badge {
  background-color: #444f70;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px 6px;
  font-size: 12px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 8px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 10px; */
}

.repo-name {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 10px;
}

.algorithm-hint {
  padding-top: 20px;
  font-size: 16px;
  padding-bottom: 5px;
}

.algorithm-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

.change-algorithm-button {
  transition: box-shadow .3s;
  background-color: #dddddd;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 4px;
  width: fit-content;
  margin-right: 10px;
}

.change-algorithm-button:hover {
  box-shadow: 0 0 6px rgba(33,33,33,.2); 
  background-color: #cccccc;
  cursor: pointer;
}

.button-label {
  padding-left: 8px;
}

.section {
  background-color: #fff;
  margin-top: 10px;
  padding: 20px;
  border-radius: 6px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.section-title {
  font-size: 26px;
  font-weight: bold;
  /* padding-top: 28px; */
  padding-bottom: 10px;
}

.request-details {
  border: 1px solid #969696;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 14px;
}

.request-method {
  padding: 4px;
  margin-right: 16px;
  background-color: #CCCCCC;
  border-radius: 5px;
}

.request-url {
  color: #222222;
  word-wrap: break-word;
}

.body-title {
  font-size: 18px;
  color: #111111;
  font-weight: bold;
  padding-bottom: 10px;
}

.response-body-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #999999;
  padding: 10px;
  border-radius: 10px;
}

.nearHint {
  margin-top: 10px;
  font-size: 18px;
}

@media screen and (max-width: 800px){
  .sectionHeader {
    flex-direction: column;
    align-items: flex-start;
  }
}