.auth {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 22px;
  padding-bottom: 50px;
}

.subtitle {
  padding-bottom: 10px;
}

.option {
  transition: background-color .3s;
  width: 300px;
  background-color: #b8b8b8;
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.option:hover {
  background-color: #888888;
}

.optionLabel {
  padding-left: 8px;
  padding-bottom: 2px;
}

.changeType {
  padding: 10px;
}

.changeTypeButton {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.emailAuthForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailAuthInput {
  padding: 12px 8px;
  border: none;
  background-color: #ececec;
  margin: 5px;
  border-radius: 6px;
}

.emailAuthFormTitle {
  font-size: 22px;
  padding: 6px;
}

.emailAuthFormLink {
  text-decoration: underline;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.emailAuthButton {
  transition: background-color .3s;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #2590DA;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.emailAuthButton:hover {
  background-color: #206bA0;
}