@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f0f1f3;
}

html {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

textarea {
  width: 100%;
  border: none;
  resize: none;
}
