.header {
  position: sticky;
  top: 0;
  background-color: #fafafa;
  box-shadow: 0px 2px 5px rgb(176, 176, 176);
  z-index: 1;
}

.link {
  transition: color .3s;
  font-size: 16px;
  font-weight: bold;
  padding-right: 28px;
  color: #585858;
}

.link:hover {
  color: #111111;
}

.loginButton {
  transition: color .3s;
  color: #585858;
  font-weight: bold;
  padding: 5px 8px 8px 8px;
  margin-right: 10px;
}

.loginButton:hover {
  color: #111111;
}

.signupButton {
  transition: background-color .3s;
  color: #FFFFFF;
  /* font-weight: bold; */
  background-color: #2590DA;
  padding: 5px 8px 8px 8px;
  border-radius: 4px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupButton:hover {
  background-color: #206BA0;
}

.title {
  font-size: 22px;
  font-weight: bold;
  padding-right: 36px;
}

.icon {
  font-size: 22px;
  color: #585858;
}

.icon:hover {
  transition: color .3s;
  color: #111111;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.authUserArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userAvatar {
  border-radius: 15px;
}

.authUserInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.userName {
  font-size: 15px;
  font-weight: bold;
}

.userEmail {
  font-size: 11px;
}